:root {
  /** Colors **/
  --color: #404040;
  --background-color: #fff;
  --primary-color: #7950f2;
  --gradientStart: #7950f2;
  --gradientEnd: #f783ac;
  --gradient: linear-gradient(45deg, var(--gradientStart) 10%, var(--gradientEnd) 90%);

  /** Spacing **/
  --unit: 1rem;
  --radius: 4px;

  /** Fonts **/
  --font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /** Transitions **/
  --transition: all 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background-color: #222;
  }
}
