<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
{% metagen
    title=title or metadata.title,
    desc=desc or metadata.desc,
    url=url + page.url,
    img=image,
    img_alt=alt,
    twitter_card_type=type,
    twitter_handle=twitter,
    name=name
%}
	<title>{{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/icons/site.webmanifest">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">
	<link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}" />
</head>
<body>
  <a class="visually-hidden" href="#main">Skip to content</a>
  <main id="main" tabindex="-1">
	{{ content | safe }}
  <footer>
    Created by <a href="https://michaeldelaney.me">MWDelaney</a>
    <speedlify-score speedlify-url="https://www.11ty.dev/speedlify" hash="6597a6c" score weight rank rank-change></speedlify-score>
  </footer>
	</main>

    <script src="/assets/scripts/main.js" defer></script>
</body>
</html>
